.welcome-text {
  background-color: beige;
}

.main {
  background-color: #f6f3f3;
  padding-bottom:10px;
}

.user-area{
    max-width:50%;
    min-width:400px;
}
.save-btn{
    background-color:#37a1d7;
    border-color:#37a1d7;
}
.date-label,.notes-label{
    margin:0 10px;
}